	
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		<h1>День и Ночь</h1>
		<p>Я люблю сумерки. Темные аллеи.</p>	
		
		<div class="content">
		<%= yield %>
		<!-- <p>  <%= Time.now %> </p> -->
   			 <audio> efjwenfj </audio>
		</div>


	</body>
	</html>

	<!-- require 'erb'
	x = 42
	template = ERB.new "x= <%= x %>"
	puts template.result(binding) -->